*{
  border:0;
  box-sizing:border-box;
  margin:0;
  padding:0;}

/*上部固定ページ*/
.hero-header{
  font-family:"Yu Mincho", serif;
  margin-left:30px;}
.row{
  cursor:pointer;
  font-weight:medium;
  font-size:20px;
  margin:20px 0;}
.stripe{
  border:none;
  border-top:1px solid #ccc;
  margin-bottom:10px;
  width:95%;}
a{
  text-decoration: none; 
  color: #5C4525;        
  cursor:pointer;
  text-align:left;
  font-size:13px;
  margin-top:15px;
  margin-left:5px;
  word-spacing:10px;}
.tab a:hover{
  color:#6E431D;}

/*common-set*/
.title{
  font-family:"Yu Mincho", serif;
  text-align:center;
  justify-content: center;
  color: #5C4525;
  display: inline-block;
  position:relative;
  padding-bottom :2px;
  margin-top:80px;
  margin-bottom:80px;
  font-size:10px;
  left: 50%;
  transform: translateX(-50%); }
.title::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  width: 55%; 
  height: 0.8px;
  background-color:#5C4525;
  bottom: 0; }

.footer {
 font-family:"Yu Mincho", serif;
  text-align:center;
  background: #fff;
  padding: 20px 0;
  margin-top:30px;}
p{
  line-height:20px;
  font-size: 10px;
  margin-top:10px;
  margin-left:10px;
  text-align:center;}
.insta-link i {
  font-size: 22px;          
  color: #000;}
.insta-link i:hover {
  color: #5C4525 ; }




/*about-us*/

/*about-page*/
.container{
  text-align:center;}
.about-page{
  font-family:"Yu Mincho", serif;
  display:flex;
  justify-content: space-around;
  width: 100%;
  margin-top:40px;}
img{
  object-fit: cover;
  margin-left:30px;
  width: 50%;}
.about{
  writing-mode: horizontal-tb;  
  font-size:10px;
  line-height: 1.4;
  margin:35px 35px 5px 0;
  text-align:left;}

/*sub-box*/
.sub-box{
  font-family:"Yu Mincho", serif;
  text-align:center;
  margin:70px 30px 5px 30px;
  line-height: 200%;
  font-size:10px;}
   h2{margin-top:10px;
  margin-bottom:10px}

/*mission-box*/
.mission-box{
 font-family:"Yu Mincho", serif;
  text-align:center;
  line-height:200%;
  font-size:12px;
  margin:90px 30px 60px 30px;}
.mission-prebox{
  margin: 40px;
}

/*detail-box*/
.detail-box{
  font-family:"Yu Mincho", serif;
  text-align:center;
  font-size:10px;
  line-height:200%;
  margin:100px 30px 60px 30px;}



 /*各NEWSBOXについて*/
.news-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin-right:50px;
  margin-left: 50px;
  padding: 10px;}

.card{
  position: relative;
  padding:15px;
  gap: 5px;
  background-color: #fff;   
  width:100%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); }


.photo{
 display:flex;
 align-items: center;
 justify-content: center;
 margin-top:10px;}
.photo img{
 max-width:100%;
 height: auto;
 display: flex;}
 
.news-box {
  margin-top:10px;
  margin-bottom:20px;
  padding: 15px;}
.date {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;}
.subtitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;}
.detail-title {
  font-size: 12px;
  color: #333;
  line-height: 1.5;}
.read-more {
  position:absolute;
  right:35px;
  bottom: 15px;
  padding: 6px 10px;
  font-size: 10px;
  cursor: pointer;}



/*各WORKBOXについて*/
.work-container{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  margin-right:50px;
  margin-left: 50px;
  padding: 10px;}
.card-link {
  display: block;           
  text-decoration: none;   
  color: inherit; }
.card-link .card {
  cursor: pointer; }

.work-box{
  margin-top:10px;
  margin-bottom:20px;
  padding: 15px;}
.co-company{
  font-size: 10px;
  color: #888;
  margin-bottom: 25px; }
.work-todo{
  margin-top:25px;
  font-size: 12px;
  color: #333;
  line-height: 1.5;}
.work-photo{
  display:block;
  text-align: center;
  justify-content: space-between;
  width: 100%;}
.work-photo img{
  height:auto;
  margin-right:40px;
  margin-bottom:20px;}



  /*eventinformation*/
.event-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-right:70px;
  margin-left: 20px;
  margin-bottom:90px;} 
.event-container img{
  cursor: pointer;
  width:100%;}



/*cafemenu*/
.wrap{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:35px;
  margin-top:30px;
  margin-bottom:120px;
  width:90vw;}
  @media(max-width:760px){
  .wrap{flex-direction:column; }}
.half { 
  width:35vw;
  flex: 1 1 45%;
  max-width: 550px;}
.menu-container{
  width: 70%;
  flex: 0 0 550px;    
  width:550px;
  max-width:550px;
  color:#5C4525;
  overflow: hidden; }
.menu-card{
 display:flex;
 height:130px;
 padding-top:20px;}
.menu-image{
  flex: 0 0 45%;
  display: flex;
  flex:1;}
  /*menubox管轄*/
.menu-image img{
  object-fit: cover;
  margin-left:50px;
  width:80%;
  height:160%;}
.menu-box{
  margin-left:8px;
  margin-top:15px;
  flex:1;
  height:160%;}
h3{
  line-height:1.8;
  font-family:"Yu Mincho", serif;}
.price{
  margin-bottom:9px;}
.btn--green,
a.btn--green{
  font-size: 8px;
  padding:12px;
  color:#fff;
  background-color: #61794d;}
.btn--green,
a.btn--green:hover{
 cursor: pointer;}
a.btn--radius{
  border-radius:100vh;}
  /*menucontainerの分野*/
.menu-detail{
  margin:0;
  margin:85px 75px 0 50px;
  display: flex;
  color:#5C4525;
  line-height:1.6;
  font-weight:350;}


.menu-sub-title{
  font-family:"Yu Mincho", serif;
  text-align:center;
  justify-content: center;
  color: #5C4525;
  display: inline-block;
  position:relative;
  font-size:12px;
  left: 50%;
  transform: translateX(-50%);}
/*cursor*/
.swiper-menucard-slider {
  width: 90%;    }

.swiper-wrapper {
  display: flex !important;
  align-items: flex-start;}

.swiper {
  margin: 40px auto;}

.swiper-slide img {
  width: 80%;}


.menucard {
  position: relative;
  align-items: center;
  overflow: hidden;
  aspect-ratio: 1 / 1; 
  margin: 0 !important;
  margin-left:10px;}

.product-img,
.menu-explain {
  position: absolute;
  display: block;
  width: 100%;       
  height: 100%;      
  left:0;
  top: 0;
  object-fit: cover;
  transition: opacity 0.7s ease;}


.menu-explain {
  opacity: 0;
  pointer-events: none;}

.menucard:hover .product-img { opacity: 0; }
.menucard:hover .menu-explain { opacity: 1; }



.swiper-button-next,
.swiper-button-prev {  
  width: 0;
  height: 0;
  background: none;
  color: transparent;
  border: none;
  position: absolute;
  top: 40%;
  transform: translateY(-50%); /* ←中央 */
  z-index: 20;}

.swiper-button-prev {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #ccc; 
  left: -2px; }
.swiper-button-next {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #ccc;  /* 三角形の色 */
  right: 0px;  /* 位置調整 */}

